input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sd-root-modern {
    --primary: #007EB5;
}

#formHomeButton {
    color: #007EB5;
    top: 6vh;
}