input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sd-root-modern {
    --primary: #007EB5
}

.homeButton {
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 6vh;
    border: none;
    background: none;
    color: #007EB5;
}